@import "bootstrap";

nav {
  background-color:#000000;
  color:#ffffff;
}

.navbar .navbar-nav > li > a {
  color:#fff;
}

.navbar .navbar-nav .dropdown-menu  { 
  background-color:   #A9A9A9;
}

.form-dark .font-small {
  font-size: 1.8rem;
 }

.form-dark .md-form label {
  color: #fff; }

.form-dark {
  color: #000; }

.form-dark .card{  
  background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}